.hero {
  margin-top: 100px;
  height: calc(100vh - 160px);
}

.slider {
  height: 100%;
  position: relative;
}

.slide {
  display: none;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.slide.active {
  display: flex;
  align-items: center;
}

.slide-content {
  width: 50%;
  padding-left: 10%;
}

.slide-content h1 {
  font-size: 48px;
}

.slide-content h3 {
  color: #c9a44c;
  margin: 10px 0;
}

.btn-outline {
  border: 2px solid #c9a44c;
  padding: 10px 18px;
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.slider-nav {
  position: absolute;
  bottom: 30px;
  left: 10%;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #999;
  display: inline-block;
  margin-right: 6px;
}

.dot.active {
  background: #c9a44c;
}

/* SECTIONS */
.about-home,
.products-home {
  background: #000;
  color: #fff;
  padding: 80px 0;
}

.about-home h2,
.products-home h2 {
  color: #c9a44c;
}

.services-home {
  background: #fff;
  padding: 80px 0;
}

.services-home h2 {
  color: #c9a44c;
}

.services-list div {
  margin-top: 30px;
}

