/* ===== SERVICES PAGE ONLY ===== */

.services-page h1 {
  color: #2f80ed;
}

.service-list {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.service-card {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  flex: 1;
  text-align: center;
}
